
/* INDEX / HOME */
/* nombrando áreas para el grid del home*/


/* grid sobre el home */
.home{
    display: grid;
    grid-template-areas: 
    "intro features"
    "intro features";
    margin: 0 10% 0 10%;
    gap: 10%;
    height: auto;

    .intro{
        width: 2fr;
        @include flex-col-around;
        grid-area: intro;

        h1{
            font-size: $fsize;

            /* animación del span */
            .rotator:before{
                content: '';
                animation: rotator 5s linear infinite;
                color: $color1
            }

            @keyframes rotator{
                0%{
                    content: 'hogar';
                }
                25%{
                    content: 'celular';
                }
                50%{
                    content: 'sofa';
                }
                75%{
                    content: 'cama';
                }
                100%{
                    content: 'tablet';
                }
            }
        }

        .bajadaHome{
            font-size: $fsize/2;
            margin-bottom: 1em;
            color: $text-sec-color;
        }

        .botonSub{
            font-size: $fsize/2;
            background-color: $color1;
            color: white;
            width: fit-content;
            border: none;
        }
    }
    

    .featuresList{
        width: 2fr;
        @include flex-col-around;
        grid-area: features;

            /* estilos de los features del home */
            .featureTitle{
                margin: 0px;
                font-size: $fsize/2;
            }

            .featureParr{
                margin-top: 5%;
                margin-bottom: 15%;
                font-size: $fsize/3;
                color: $text-sec-color;
            }
    }

}


// MEDIA QUERIE MOBILE hacia abajo
@media (max-width: 576px){

    .navbar>.container{
        flex-wrap:nowrap;
    }

    //editando la grilla
    .home{
    
        margin: 6rem 5% 0 5%;
        display: grid;
        grid-template-areas:
        "intro"
        "features";
        gap: 7%;

        //editando la intro principal
        .intro{
            
            h1{
                font-size: $fsize/2;
            }

            .bajadaHome{
                font-size: $fsize/3;
            }

            .botonSub{
                font-size: $fsize/3;
                width: fit-content;
            }
        }

        //editando los 3 features
        .featuresList{
            text-align: center;
            margin-bottom: 3rem;
    
            .featureTitle{
                font-size: $fsize/3;
            }

            .featureParr{
                margin-top: 2%;
                font-size: $fsize/4;
                padding: 0 3rem 0 3rem;
                text-align: justify;
            }
        }
    }

}


//MEDIA QUERIE tablet - medium
@media (min-width:576px) and (max-width:1024px){
    .navbar>.container{
        flex-wrap:nowrap;
    }

    //editando la grilla
    .home{
    
        margin: 3rem 5% 0 5%;
    }
    
}
