

@mixin flex-col-around{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

@mixin flex-row-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-even{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


// Tamaño de título (font size máximo)
$fsize: 3em;

//texto secundario gris
$text-sec-color: rgb(36, 36, 36);

//color principal
$color1: darkcyan;




