/* QUÉ HACEMOS, FEATURES */


.features{

    margin-top: 4rem;
    h1{
        font-size: $fsize/2;
    }

    .mb-5{
        font-size: $fsize/3;
    }


    .featureBox{
        border-radius: 10px;
    
        img{
            opacity: 0.5;
        }
    
        .card-body{
            .btn{
                background-color: $color1;
                color: white;
                width: fit-content;
                border: none;
                margin-top: 1rem;
            }
        }    
    
        &:hover{
            transform:scale(1.05); 
            transition-property:all;
            transition-duration:0.5s;
            border: 2px solid $color1;
            
            img{
                opacity: 1;
                
            }
        }   
    
        
    }

}


@media (min-width: 420px) {
    .features{

        h1{
            font-size: $fsize;
        }
    
        .mb-5{
            font-size: $fsize/2;
        }    
    }
}

@media (min-width: 920px) {
    .features{
        margin-top: 2rem;
    }
}
