
/* PRECIOS */

.precios{
    h1{
       font-size: $fsize;
    }

    p{
        font-size: $fsize/2;
    }

    .precios-box{
        background-color: $color1;
        color: white;
    
    }

    .precios-text{
        font-size: $fsize/2;
    }
}


@media (max-width:980px){

    .precios{
        margin-top: 3rem;
    }
}