
/* PRECIOS */

.precios{

    margin-top: 4rem;

    h1{
       font-size: $fsize/2;
    }

    h2{
        font-size: $fsize/3;
    }

    p{
        font-size: $fsize/3;
    }

    .precios-boxx{
        background-color: $color1;
        color: white;
        border: 0;
    }

    .precios-box{
        @extend .precios-boxx;
        &:hover{
            background-color: yellowgreen;
            color: white;
            border: 2px solid white;
        }
    }
    
    

    .precios-text{
        font-size: $fsize/2;
    }
}


@media (min-width: 768px){
    .precios{
        h1{
           font-size: $fsize;
        }
    
        h2{
            font-size: $fsize/2;
        }
}
}


