
/* PRECIOS */

.precios{
    h1{
       font-size: $fsize;
    }

    p{
        font-size: $fsize/2;
    }

    .precios-boxx{
        background-color: $color1;
        color: white;
        border: 0;
    }

    .precios-box{
        @extend .precios-boxx;
        &:hover{
            background-color: yellowgreen;
            color: white;
            border: 2px solid white;
        }
    }
    
    

    .precios-text{
        font-size: $fsize/2;
    }
}


@media (max-width:980px){

    .precios{
        margin-top: 3rem;
    }
}