/* SIGN UP */


.signup{
    width: 70%;

    h1{
        font-size: $fsize;
    }

    .register{
        background-color: $color1;
        color: white;
        font-size: $fsize/3;
        border: none;
        width: 25%;
    }

    .boton-formulario{
        border: solid 2px $color1;
        color: $color1;
        width: auto;
    }
}




@media (max-width: 690px){
    .signup{
        margin-top: 3rem;
        
        h1{
            font-size: $fsize/2;
        }
    }
}