/* SIGN UP */


.signup{
    width: 70%;

    margin-top: 20%;
        

    h1{
        font-size: $fsize/2;
    }

    h2{
        font-size: $fsize/3;
    }

    .register{
        background-color: $color1;
        color: white;
        font-size: $fsize/3;
        border: none;
        width: fit-content;
    }

    .boton-formulario{
        border: solid 2px $color1;
        color: $color1;
        width: auto;
    }
}






@media (min-width: 690px){
    .signup{

        margin-top: 10%;

        h1{
            font-size: $fsize;
        }

        h2{
            font-size: $fsize/2;
        }
    }
}

@media (min-width: 920px){
    .signup{

        margin-top: 5%;
    }
}